## Data types in python

text = "string" , str 

integer = int, float 

sequence = list, tupple, range

mapping = dict

set types = set 

booliean type = bool 

none type = NoneType

In [1]:
import pandas as pd 
file_path= r"C:\Jupyter\datastes\airlines_flights_data.csv"
df = pd.read_csv(file_path)

In [2]:
df.head(10)
print("/n/n/")
df

/n/n/

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB

In [5]:
name = "Raghu"
type(name)

str

In [6]:
naem1 = "lohit"
name2= "naveen"
name3 = "raghu"
age1  = 30 
age2 = 27 
age3 = 24 
cgpa  = 7.8

print(type(age1))

<class 'int'>

In [7]:
print(type(name2))

<class 'str'>

In [9]:
print(type(cgpa))

<class 'float'>

In [22]:
import random 

print(random.randrange(60,100))

90

## casting
exmaple

In [ ]:
# Casting the datatypes 

x = int(1)   # x will be 1
y = int(2.3)# y will be 2
z = int("3") # z will be 3

In [38]:
m = "33"
type(m)

str

In [30]:
type(x)
type(y)
type(z)

int

In [33]:
type("3")

str

In [34]:
type(z)

int

In [31]:
y

2

In [25]:
type(y)

int

## String examples

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

In [42]:
a = "mhit"

In [43]:
intro = "My name is raghu"
brief_intro = """ My name is lohit 
im from gulbarga
"""

In [44]:
b = "Hello, World!"
print(b[2:5])

llo

In [45]:
b

'Hello, World!'

In [46]:
len(b)

13

## Slicing 

varibale [start:end:step]

In [47]:
intro = "my name is raghu"
intro

'my name is raghu'

In [48]:
len(intro)

16

In [49]:
b

'Hello, World!'

In [50]:
b[0:4]

'Hell'

In [51]:
b[0:5]

'Hello'

In [52]:
intro

'my name is raghu'

In [54]:
intro[3:8]

'name '

In [55]:
b[:5]

'Hello'

In [56]:
b[:]

'Hello, World!'

In [57]:
b[2:]

'llo, World!'

In [ ]:
# slicing from the negative index to slice from the end of the string
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
# negative indexing starts from the end of the string
string1 = "Python has a set of built-in methods that you can use on strings."
string1[-8:-1]

'strings'

In [ ]:
# step -1 will reverse the string
string1[::-1]

'.sgnirts no esu nac uoy taht sdohtem ni-tliub fo tes a sah nohtyP'

In [64]:
# to find index of any particular word you can use varible.fint()

string1.find("built")

20

In [ ]:
# step will take steps in the given step value and print it 
string1[::3]

'Ph s tfutneo ay nsosis'

## String modification

### Uppers casing

varible.upper()

varible.lower()

In [111]:
a = "my name is raghu      "
a.upper()

'MY NAME IS RAGHU      '

In [112]:
b = a.upper()

In [113]:
b

'MY NAME IS RAGHU      '

In [114]:
# lower()

b.lower()

'my name is raghu      '

In [115]:
a

'my name is raghu      '

In [116]:
# to remove white spaces which are empty spaces at the start and end of the actual word. we use strip()
remove_whitespce = a.strip()

In [117]:
remove_whitespce

'my name is raghu'

In [118]:
a

'my name is raghu      '

In [119]:
# Use .replace to replace particular part of string with another string
l = a.replace("raghu","lohit")
l

'my name is lohit      '

In [120]:
# we use .split() every word in the sentence. split happens at every space present in the string 
print(a)
splitted = a.split()
len(splitted)

my name is raghu

4

In [121]:
print(a)
print(str1)

my name is raghu
my,name,is,lohit

In [122]:
str1 = "my,name,is,lohit"
str1

'my,name,is,lohit'

In [123]:
str1

'my,name,is,lohit'

In [124]:
split = str1.split(",")
print(split)
len(split)

['my', 'name', 'is', 'lohit']

4

In [125]:
# string concate (addition) To concatenate, or combine, two strings you can use the + operator.

a = "good"
c = " "
b = "boy"
a + " " + b

'good boy'

In [126]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [127]:
# you cannot add string with int or float. you can only add string with string. to add int or float you need to do casting
demo = "my age is " 
age = 30.9
demo + str(age)

'my age is 30.9'

In [130]:
# F-Strings   =  f"everthing in this will be string {varible}" 
# To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations

f"my age is {age}, {a}"

'my age is 30.9, my name is raghu'

In [129]:
a  = "my name is raghu"

In [131]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [ ]:
#  :.2f Display the price with 2 decimals:
price = 59.5555
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.56 dollars

In [135]:
txt = f"The price is {20 +9} dollars"
print(txt)

The price is 29 dollars

In [ ]:
# this will through error because of "" in the ""
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [139]:
# use Escape Character \\ for escaping the string and running it separately 
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

'my name is raghu'

In [144]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [147]:
a = "my\nname\nis\nraghu"

In [148]:
a

'my\nname\nis\nraghu'

In [149]:
a = "my name is raghu"
a

'my name is raghu'

In [ ]:
a.capitalize()

'My name is raghu'

In [154]:
.center(a)

SyntaxError: invalid syntax (308742045.py, line 1)

In [155]:
a.count("a")

2

In [156]:
a.endswith("ragh")

False

In [157]:
a.endswith("raghu")

True

In [159]:
email = "lohitkumar@gmail.com"

email.endswith(".com")

True

In [162]:
age = '300'
age.isalnum()

True

In [163]:
age.isalpha()

False